<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>模版</title>
	<link href="css/global.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="header">
		网站模版
	</div>
	<div class="content">
		<div class="box">
			<div class="title">按钮</div>
			<div class="content" style="text-align:left;">
				<a href="javascript:;" class="button_gray">灰色按钮</a>
				<button class="button_gray">灰色按钮</button>
				<input type="button" value="灰色按钮" class="button_gray"/>
				<br/>
				
				<a href="javascript:;" class="button_cyan">青色按钮</a>
				<button class="button_cyan">青色按钮</button>
				<input type="button" value="青色按钮" class="button_cyan"/>
				<br/>

				<a href="javascript:;" class="button_disable">不可用按钮</a>
				<button class="button_disable">不可用按钮</button>
				<input type="button" value="不可用按钮" class="button_disable"/>
				<br/>

				<a href="javascript:;" class="button_orange">橙色按钮</a>
				<button class="button_orange">橙色按钮</button>
				<input type="button" value="橙色按钮" class="button_orange"/>
				<br/>

				<a href="javascript:;" class="button_blue">蓝色按钮</a>
				<button class="button_blue">蓝色按钮</button>
				<input type="button" value="蓝色按钮" class="button_blue"/>
				<br/>

				<a href="javascript:;" class="button_dark_red">暗红按钮</a>
				<button class="button_dark_red">暗红按钮</button>
				<input type="button" value="暗红按钮" class="button_dark_red"/>
			</div>
		</div>
		<div class="box">
			<div class="title">
				form表单
			</div>
			<div class="content">
				<form>
					<label class="checkbox_enable">
						<input type="checkbox" value="1">
						<span class="">多选框</span>
					</label>
					<label class="checkbox_disable">
						<input type="checkbox">
						<span class="">不可用的多选框</span>
					</label>

					<input type="text" class="text"/>
				</form>
			</div>
		</div>
		<div class="box">
			<div class="title">
				对话框
			</div>
			<div class="content">
				
				<div class="dialog" style="margin:20px;">
					<div class="head">
						<label class="title">标题</label>
						<a href="javascript:;" class="close">×</a>
					</div>
					<div class="content">
					</div>
				</div>
				
			</div>
		</div>
		<div class="box">
			<div class="title">
				notice
			</div>
			<div class="content">
				<div class="notice_error fix">
					<img src="../static/images/armor.png" class="notice_image"/>
					<div class="notice_content fix">
						<div class="title">标题</div>
						<div class="msg">消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息</div>
					</div>
					<a href="javascript:;" class="close">×</a>
				</div>
				<div class="notice_success fix">
					<div class="notice_content fix">
						<div class="title">标题</div>
						<div class="msg">消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息消息</div>
					</div>
					<a href="javascript:;" class="close">×</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		
	</div>
</body>
</html>